body {
  background-color: rgb(5, 5, 46);
  margin: 0 auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#headerLog {
  display: flex;
  /* position: relative; */
  justify-content: space-between;

  align-items: center;
  top: 10px;
  background-color: rgb(60, 114, 186, 0.3);
  height: 100px;
  width: 96.5%;
  margin-left: 20px;
  border-style: none;
  box-shadow: 10px 5px 5px rgb(10, 135, 213);
  border-color: black;
  border-radius: 10px;
}

#mainContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 20px;
}

#metricsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  background-color: rgb(60, 114, 186, 0.3);
  margin-right: 30px;
  border-style: none;
  border-color: black;
  box-shadow: 10px 5px 5px rgb(1, 116, 190);
  /* height: auto;
    width: auto; */
  border-radius: 10px;
}

#alertsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-grow: 1; */
  justify-content: flex-start;
  align-content: flex-start;
  background-color: rgb(60, 114, 186, 0.3);
  margin-right: 30px;
  border-style: none;
  border-color: black;
  box-shadow: 10px 5px 5px rgb(1, 116, 190);
  /* height: 100%; */
  width: 100%;
  border-radius: 10px;
}

#menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(60, 114, 186, 0.3);
  border-style: none;
  border-color: black;
  height: 500px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(1, 116, 190);
}

.metricBox {
  position: relative;
  top: 0;
  height: 250px;
  width: 500px;
  margin: 10px;
  text-align: center;
  justify-content: space-between;
  background-color: none;
  border-style: solid;
  border-color: rgb(80, 185, 250);
  border-width: 4px;
}
#kafopticonbg {
  height: 100px;
}

.formContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-end; */
  margin-top: 15px;
  margin-right: 30px;
  height: 70px;
  width: 600px;
}

#submitbutton {
  height: 40px;
  width: 150px;
  background-color: rgb(60, 175, 247);
  padding: 10px;
  border-radius: 7px;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
  border-style: solid;
  border-color: white;
  margin-left: 5px;
}

#mainform {
  display: flex;
  align-items: center;
  position: relative;
  height: 70px;
  width: 100%;
  margin-top: 10px;
}

#input {
  padding: 10px;
  border-radius: 7px;
  border-style: solid;
  width: calc(100%- 155px);
  border-color: white;
  margin-right: 5px;
}

#chart {
  position: relative;
  margin-top: 0px;
}

.menuButton {
  height: 40px;
  width: 200px;
  background-color: rgb(60, 175, 247);
  padding: 10px;
  border-radius: 7px;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
  border-style: solid;
  border-color: white;
  margin-left: 50px;
}

.clock {
  position: relative;
  margin-left: 25px;
}

.checkbox-label {
  color: yellow;
}

.checkboxes {
display: flex;
flex-direction: column;
margin-right: 10px;
}

#alerts {
  background-color: orange;
}

#addPanel {
    height: 40px;
    width: 200px;
    background-color:  rgb(60, 175, 247);
    padding: 10px;
    border-radius: 7px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-color: white;
    margin-left: 50px;
}

#dropMenu{
    height: 40px;
    width: 200px;
    background-color:  rgb(60, 175, 247);
    padding: 10px;
    border-radius: 7px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-color: white;
    margin-left: 50px;
}

#deletePanel{
    height: 40px;
    width: 200px;
    background-color:  rgb(60, 175, 247);
    padding: 10px;
    border-radius: 7px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-color: white;
    margin-left: 50px;
}

#dropDownMenu {
    width: 800px;
}

#menuSection {
    position: relative;
    background: orange;
    border-style: solid;
    border-color: white;
    width: 300px;
    border-radius: 5px;
    margin-left: 20px;
    max-height: 70px;
    overflow-y: auto;
}

.menu{
    position:relative;
    list-style: none;
    color: white;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-right: 20px;
}

.menu li:hover{
    color: rgb(60, 114, 186);
    cursor: pointer
}

button:hover {
    cursor: pointer
}

