body {
    background-color: rgb(132, 183, 246);
    margin: 0;
    height: 100%;
    
}

#headerLog {
    position: relative;
    top: 10px;
    background-color: rgb(248, 248, 186);
    height: 100px;
    width: 96.5%;
    margin-left: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

#mainContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 20px;
}
#metricsContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(248, 248, 186);
    margin-right: 30px;
    border-style: solid;
    border-color: black;
    height: auto;
    width: auto;
    border-radius: 10px;
}

#menu{
    position:relative;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(248, 248, 186);
    border-style: solid;
    border-color: black;
    height: 800px;
    width: 400px;
    border-radius: 10px;
}

.metricBox {
    position: relative;
    top: 80px;
    height: 200px;
    width: 450px;
    background-color: rgb(132, 183, 246);
    border-style: solid;
    border-color: black;
    margin-right: 20px;
}