body {
    background-color: rgb(132, 183, 246);
    margin: 0;
    height: 100%;
    
}

#headerLog {
    display: flex;
    /* position: relative; */
    /* justify-content: center; */

    align-items: center;
    top: 10px;
    justify-content: space-between;
    background-color: rgb(248, 248, 186);
    height: 100px;
    width: 96.5%;
    margin-left: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

#mainContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 20px;
}
#metricsContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    background-color: rgb(248, 248, 186);
    margin-right: 30px;
    border-style: solid;
    border-color: black;
    /* height: auto;
    width: auto; */
    border-radius: 10px;
}

#menu{
    position:relative;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(248, 248, 186);
    border-style: solid;
    border-color: black;
    height: 800px;
    width: 450px;
    border-radius: 10px;
}

.metricBox {
    position: relative;
    top: 0;
    height: 25%;
    width: 200px;
    margin: 10px;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(132, 183, 246);
    border-style: solid;
    border-color: black;
}
#kafopticonbg{
    height: 100px;
}
.formContainer {
    margin-right: 90%;
}

#submitbutton {
    height: 40px;
    width: 40%;
    background-color: cyan;
    border-radius: 5px;
}